<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="books.css">
</head>
<body>
    <div id="flip-card-container">
        <% allBooks.forEach(book => { %>
            <div class="flip-card">
                <h3><%= book.dataValues.book_name %></h3>
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="<%= book.dataValues.images %>" alt="Avatar">
                    </div>                    
                    <div class="flip-card-back">
                        <h1><%= book.dataValues.book_name %></h1>
                        <p><%= book.dataValues.author %></p>
                        <p><%= book.dataValues.genre %></p>
                        
                    </div>
                </div>
                <button onclick="funcname()" id="add-to-account-btn" value="<%= book.dataValues.id %>">Add to Account History</button>
            </div>
        <% }); %>
    </div>

    <!-- Add your JavaScript function here -->
    <script>
        function funcname() {
            // Add your logic here
            alert('Button clicked!');
        }
    </script>
    <img src="https://tinyurl.com/272t4pzb" alt="">
</body>
</html>